<div class="perfil-container container mt-5">
  <h2 class="text-center">Modificar Perfil</h2>
  <form (ngSubmit)="modificarPerfil()" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="perfil.nombre" name="nombre" class="form-control" required minlength="3" #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger">
        El nombre es requerido y debe tener al menos 3 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">Correo Electrónico:</label>
      <input type="email" id="correo" [(ngModel)]="perfil.correo" name="correo" class="form-control" required #correo="ngModel">
      <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-danger">
        El correo electrónico es requerido y debe ser válido.
      </div>
    </div>

    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña:</label>
      <input type="password" id="contrasena" [(ngModel)]="perfil.contrasena" name="contrasena" class="form-control" required minlength="6" #contrasena="ngModel">
      <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="text-danger">
        La contraseña es requerida y debe tener al menos 6 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="rol" class="form-label">Rol:</label>
      <input type="text" id="rol" [(ngModel)]="perfil.rol" name="rol" class="form-control" readonly>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="nombre.invalid || correo.invalid || contrasena.invalid">Guardar Cambios</button>
    </div>
  </form>
</div>
