<div class="container mt-5">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="iniciarSesion()">
      <div class="mb-3">
        <label for="correo" class="form-label">Correo:</label>
        <input type="email" id="correo" [(ngModel)]="usuario.correo" name="correo" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña:</label>
        <input type="password" id="contrasena" [(ngModel)]="usuario.contrasena" name="contrasena" class="form-control" required>
      </div>
      <div *ngIf="mensajeError" class="text-danger mb-3">
        {{ mensajeError }}
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
  </div>